.line {
    width: 95%;
    height: 1px;
    margin: 10px 0;
    background-color: #3a3b3c;
}

.fog {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}